body {
    background: linear-gradient(to left, #1e1f20 , #1e1f20);
}
button {
    height: 50px;
    width: 70px;
    margin: 10px 4px;
    box-shadow: inset 4px 4px 50px  #000000;
    border:#000000;
  }
  .calcBG {
    background-color: rgb(32, 32, 43);
    border-radius: 50px;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: inset 1px 1px 50px #000;
  }
input {
       height: 70px;
       width: 280px;
       background-color: aqua;
       padding: 10px;
         }

 .tab {

     margin-left: 10px;
     height: 70px;
     width: 100px;
 }